BODY {
	background-color: #222222;
	background-image: url("./images/bg.gif");
	background-repeat: repeat-x;
	background-attachment: fixed;
	margin: 0px;
	padding: 0px;
	font-family: 'Varela Round', sans-serif;
	font-size: 11px;
	}


table, tr, td, a, p, h3
{
	font-family: 'Varela Round', sans-serif;
	font-size: 16px;
}

h1
{
	padding-top: 25px;
	font-family: 'Lobster', cursive;
	font-size: 70px;
	color: white;
}

h2
{
	font-family: 'Varela Round', sans-serif;
	font-size: 14px;
	color: #eeeeee;
}

h3
{
	font-family: 'Varela Round', sans-serif;
	font-size: 12px;
	color: #eeeeee;
}

a:link {
	color: #EA922B;
	text-decoration: none;
	}
a:active {
	color: #EA922B;
	text-decoration: none;
	}
a:visited {
	color: #EA922B;
	text-decoration: none;
	}
a:hover {
	color: #FDE74C;
	text-decoration: underline;
	}

.iscrizioni{
	text-align: center;
}

a.user{
	font-size: 16px;
}

a.user:link {
	color: #FDE74C;
	text-decoration: underline;
}
a.user:visited {
	color: #FDE74C;
	text-decoration: underline;
}
a.user:active {
	color: #FDE74C;
	font-weight: bolder;
}
a.user:hover {
	color: red;
	text-decoration: underline;
}

a.user1:link {
	font-weight: bolder;
	color: #FFFFFF;
}
a.user1:visited {
	font-weight: bolder;
	color: #FFFFFF;
}
a.user1:active {
	font-weight: bolder;
	color: #FFFFFF;
}
a.user1:hover {
	font-weight: bolder;
	color: red;
	text-decoration: underline;
}

a.menu:link {
	color: #999999;
	text-decoration: none;
	}

a.menu:visited {
	color: #999999;
	text-decoration: none;
	}

a.menu:active {
	color: #ffffff;
	text-decoration: none;
	}

a.menu:hover {
	color: #ffffff;
	text-decoration: underline;
	}

img {
	border:0;
	align: absmiddle;
	}


caption {
	background-color: #444444;
	border-bottom: 1px solid #999999;
	font-weight: normal;
	font-variant: small-caps;
	text-align: center;
	font-size: 15px;
	padding: 5px;
	color: #FFFFFF;
	}

.maintable
{
	background-color: #171717;
	width: 100%;
	color: #FFFFFF;
	padding: 0px;
}

.menutable
{
	width: 100%;
	background-color: #DB5461;
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
}

.menucell
{
	padding-left: 15px;
	color: #EA922B;
}

.bottom{
	width: 100%;
	height: 30px;
	background-color: #DDDDDD;
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
}

.intro{
	width: 80%;
	padding: 25px;
	color: white;
	font-size: 16px;
	text-align: justify;
	background-color: #DB5461;
	border-radius: 5px;
	line-height: 130%;
	margin: 20px;
}

.bordo
{
	border-width: 1px;
	border-style: solid;
	border-color: white;
}

.piccolo {
	font-family: arial;
	font-size: 8px;
	}


.testa {
	text-transform: uppercase;
	background: #700b0b;
	font-weight: normal;
	font-variant: small-caps;
	text-align: center;
	vertical-align: middle;
	font-size: 11px;
	color: #FFFFFF;
	}

.testa1 {
	text-transform: uppercase;
	background: #700b0b;
	font-weight: bold;
	font-variant: normal;
	text-align: center;
	vertical-align: middle;
	font-size: 12px;
	color: #FFFFFF;
	}

.accesso{
	font-size: 18px;
	color: white;
}

.formAccesso{
	padding: 10px;
	margin-top: 40px;
	background-color: #3891A6;
	border-radius: 5px;
}


INPUT {
	font-family: 'Varela Round', sans-serif;
	font-size: 11px;
	border:0;
	cursor: hand;
	background-color: #FDD8A6;
	border-bottom:2px solid #333333;
	border-right:2px solid #333333;
	border-top:1px solid #999999;
	border-left:1px solid #999999;
	}

TEXTAREA {
	border-bottom:2px solid #333333;
	border-right:2px solid #333333;
	border-top:1px solid #999999;
	border-left:1px solid #999999;
	font-family: 'Varela Round', sans-serif;
	font-size: 11px;
	color: #333333;
	background-attachment: fixed;
	background-image: url();
	background-repeat: repeat;
 }

SELECT {
	font-family: 'Varela Round', sans-serif;
	font-size: 10px;
	color: #333333;
	border:1px solid #555555;
	}

.evidenziato {
	background-color:yellow
	}

.shadow {
	FILTER: progid:DXImageTransform.Microsoft.Shadow(direction=145,color=#00000f,strength=5);
	}

.maiuscolo {
	text-decoration: none;
	text-transform: capitalize;
	}
